body {
  background-color: yellow;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: blue;
  color: white;
  margin-top: 20px;
  border: none;
  padding: 15px;
  border-radius: 10px;
}